*{
    margin: 0;
    padding: 0;
}
a{
text-decoration: none;
}
li{
    list-style: none;
}
#main-bg{
    background: pink;
    font-family:MV Boli;
}
#main h3{
    margin: 10px 15px;
}
#main{
    width: 80%;
    margin:auto;
    color: #0275d7
}

#main .col-md-6>ul li{
    float: left;
    margin: 15px 15px ;
}
#main ul::after {
            display: table;
            clear: both;
            content: "";
        }
#main a{
     color: #0275d7;
}



#center-bg{
    background-image:url(../img/timg.gif); 
     background-size: cover
}
#center{
    width: 80%;
    margin: auto;
    text-align: center;
    color: #363e3e;
}
#center img{
    width: 50%;
    border-radius: 50%;
    margin-top: 50px;
}
 h2{
    font-family: MV Boli;
    font-size: 40px;
    margin: 16px 20px;
}
#center button{
    background: #616161;
    color: #fff;
    padding: 5px 25px;
    font-size: 10px;
    margin-top: 20px;
}
#top{
    width: 80%;
    margin: auto;
}

#footer p{
    text-align: center;
    padding: 20px 60px 20px 60px;
    font-size: 18px;
}