  *{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    display: none;
}
img{
    width: 100%;
}
/*--------------------index开始--------------------*/
body{
   
}
/*nav*/
.nav-bg{
  background-color: #00000063;;
  color: #fff;
  background: rgba(109, 102, 102, 0.42);
}
.nav-bg .collapse ul .wen a{
    color: #6edfef;
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.swiper-slide{
    position: relative;
}
.navbar-default .navbar-nav>li>a ,
.navbar-default .navbar-brand ,
.navbar-default .navbar-brand:hover{
    color: #fff;
}
.navbar-default .navbar-nav>li>a:hover{
    color:  #6edfef; 
}

/*轮播*/
.lun .div{
    background-color: transparent;
    position: absolute;
    top:37%;
    left: 25%;
    text-align: center;
}
.lun .div h1{
    color: #fff;
    margin-bottom:100px;
}
.div{
    width: 50%;
}
.lun .div a{
    padding: 20px 40px;
    background:#fff;
    color: #000;
    margin: 0px 50px;
}
.lun .div a:hover{
    background: #228896;
    color: #fff;
    transition: all 0.6s;  
}
/**/

.body-bg{
    background-image: url(../img/10.jpg);
    background-size:cover;
}
.jieshao .container,
.nengli .container{
   padding-top: 40px;
    padding-bottom: 40px;
}

.jieshao h3,
.nengli h3{
    font-size: 20px;
    margin: 0px 30px 20px 30px;
}
.jieshao p,
.nengli p{
    padding: 0px 30px 10px 30px;
    line-height: 30px;
    font-size: 14px;
    color: #666;
}

/*hobby*/
.hobby{
    margin: 20px 0px;
}
.hobby h3,
.photo h3{
    margin-bottom: 20px;
}
.hobby .col-md-6{
    margin: 20px 0px;
}
.hobby .col-md-4>div{
    text-align: center;
}

.hobby .col-md-4>div .i{
   padding: 30px;
    border-radius: 50%;
    font-size: 22px;
    background: #228896;
    color: #fff;
}
.hobby .col-md-6:hover .col-md-4 .i{
    color: #666;
    background: #fff;
    cursor:pointe;
    transition: all 0.6s;
} 

/*photo*/
.photo{
    padding-bottom: 40px;
}
.photo .col-md-6>div{
    margin: 50px auto;  
    overflow: hidden;  
}
.photo .col-md-6>div img{
    cursor: pointer;  /*手*/
    transition: all 0.6s; /* 过度0.6秒*/
    width: 100%;
    height: 400px;
}
.photo .col-md-6:hover img{  
    transform: scale(1.4); /*1.4倍放大*/
}  

.photo .col-md-6 p,
.photo .col-md-6 h4,
.photo .col-md-6 span ,
.photo .col-md-6 a{
    padding: 10px 20px;
    color: #666;
}
footer{
    text-align: center;
    background-color: #666;
}
footer p{
    padding: 40px 0px;
    font-size: 18px;
    color: #ccc;
}
/*-------------------index结束-------------------*/
/*-------------------about开始-------------------*/
.nengli h2,
.zongjie h2{
    padding: 10px 0px;
    font-size: 18px;
}
.zongjie .col-md-12 h2{
    font-size: 20px;
    padding-bottom: 20px;
}
.zongjie .col-md-6 h4{
    margin: 20px 0px;
}
.zongjie .col-md-6{
    padding-left: 40px;
    padding-right: 40px;
      color: #6f6f6f;
    height: 530px;
}
.zongjie .col-md-6 p{
    font-size: 14px;
    line-height: 30px;
}
/*-------------------about结束-------------------*/
/*zhanshi*/
.xmzs .col-md-4{
     margin: 20px 0px;   
}
.work{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    height: 470px;
    width: 100%;
    display: table;
    overflow: hidden;
}
.xmzs .col-md-4 .work .desc{
    display: table-cell;  /*  标签以单元格的形式出现*/
    vertical-align: middle;  /*  垂直居中*/
    background: #fff;
    opacity: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    text-align: center;
    color: #000;
}
.xmzs .col-md-4:hover .desc{
    opacity: 1;  
}
.xmzs .col-md-4:hover a{
    text-decoration: none;
}
.desc h4{
    font-size: 16px;
    padding: 20px;
}
.desc span{
    color: #666;
    font-size: 12px;
}

/**/
/*guohua*/
.fazhan h3{
    font-size:20px;
    margin: 30px 0px;
} 
.fazhan p {
    text-indent: 2em;
    font-size: 14px;
    color: #666;
    margin: 20px 0px;
    line-height: 30px;
}   

























/**/




























