*{
    margin:0;
    padding:0;
    box-sizing: border-box;
} 
html, body {
      position: relative;
      height: 100%;
    }
    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color:#000;
      margin: 0;
      padding: 0;
    }
    .swiper-container {
      width: 100%;
      height: 100%;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      
    }


.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: url(../img/88.jpg);
    background-size:cover;
}
.swiper-button-next{
    left:50%;
    right:auto;
    top:auto;
    bottom:5%;
    margin-left: -13.5px;
    transform:rotateZ(-90deg);
}
.s1,
.s2,
.s3,
.s4,
.s5,
.s6,
.s7{
    background: url(../img/19.jpg);
    background-size:contain;
    height: 100%;
    color:#fff;
}
/*第一屏*/
.s1 .header{
    padding-top: 90px;
    color: #fff;
    font-family: 微软雅黑;
}
.s1 .header>h2{
    padding:20px;
/*    background-color: rgba(7, 29, 60, 0.47);;*/
    font-size:24px;
}
.s1 .main{
    writing-mode:tb-rl;
    margin:0 auto;
    font-weight: bold;
    color: #ffffff;
    font-size: 36px;
    margin-top: 36px;
    text-align: left;
}
.s1 .main p{
    line-height: 32px;
}
.s1 .main p:nth-of-type(1){
    font-size: 50px;
}
.s1 .main p:nth-of-type(2){
    font-size:24px;
}
.s1 .footer{
    margin-top: 77px;
    font-size: 18px;
    color:#fff;
    font-weight:bolder;
    font-family: 宋体;
    line-height: 26px;
}
.s1 .footer p:nth-of-type(3){
    font-family: Arial;
    font-size: 20px;
}

/*第二瓶*/
.s2{
    color: #fff;
    padding-top: 90px;
}
.s2 .bj{
    border-top: 1px  dashed #797474;
    border-bottom: 1px  dashed #797474; 
    width: 80%;
    margin: auto;
   
}
.s2 h3{
    font-size: 25px;
    color: #fff;
    margin: 15px;
}
.s2 p{
    text-align: left;
    padding-left: 40px;
    padding-right: 40px;
    line-height: 30px;
    font-size: 16px;
}
.s2 p:nth-of-type(1){
    text-align: left;
    padding-top: 10px;
}
.s2 p:nth-of-type(2),
.s2 p:nth-of-type(3){
    text-indent: 2em;
    margin-top: 10px;
}
.s2 p:nth-of-type(4),
.s2 p:nth-of-type(5),
.s2 p:nth-of-type(6)
{
    text-align: right;
}
/*第三屏开始*/

.s3 .main img{
    width: 10%;
    height: 10%;
}



















