@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0; font-family:"微软雅黑", "宋体"; font-size:16px;}
a{ text-decoration:none; color:#000;}
ul{ list-style:none;}
.icon{ background:url(../images/icon.png) no-repeat;}
.clear{ clear:both;}

#wrapper{background-color:#f0f0f0;}
#header{ background:url(../images/header_bg.png) repeat-x; width:100%; height:170px;}
#header .wrap{ width:1040px; margin:0 auto;}
#header	.header_left{ float:left;}
#header	.header_left h1{ width:198px; height:170px; background:url(../images/h1-bg.png) no-repeat;}
#header	.header_left h1 .logobox{padding-top:28px; padding-left:45px;}
#header	.header_left h1 .logo{ background-repeat:no-repeat;background-position:-10px -10px; width:108px; height:83px;}
#header .header_right{ float:left; width:842px;}
#header .header_right p{ font-size:12px; line-height:43px;text-align:right;}
#header .header_right p a{ font-size:12px; color:#000; padding:0 10px;}
#header .header_right p a:hover{ color:#894f67;}
#header .header_right .header_center{ padding-top:30px; margin:0 auto; width:480px;}
#header .header_right .header_center .left{ float:left; background:url(../images/title_left.jpg) no-repeat; width:38px; height:46px;}
#header .header_right .header_center .right{float:left; background:url(../images/title_right.jpg) no-repeat; width:78px; height:46px;}
#header .header_right .header_center p{ padding:0 20px; float:left; font-size:28px; font-family:"黑体"; font-weight:bold;}
#header .header_right .header_center p span{ font-size:28px; font-family:"黑体"; font-weight:bold; color:#e9546b;}
#header .nav{ margin:0 auto; padding-top:20px;}
#header .nav ul{}
#header .nav ul li{ float:left;}
#header .nav ul li a{ display:block; float:left;color:#000; font-size:14px; padding:0 5px; line-height:30px;}
#header .nav ul li a:hover{ color:#894f67;}
#header .nav ul li img{ display:block; float:left; }

#banner{ width:1080px;margin:0 auto; padding-top:20px;}
#banner .iconbox{ float:left;padding-top:115px; cursor:pointer}
#banner .icon_left{background-position:-10px -210px; width:40px; height:84px;}
#banner .icon_right{background-position:-10px -310px; width:40px; height:84px;}

#banner_pic{float:left;width:1000px; overflow:hidden; height:334px;}

#banner ul{  }
#banner ul li{ float:left; width:250px; height:334px;}
#banner ul li img{ border:none;}  /*兼容IE默认黑色边框*/
#banner .shadow{ clear:both; width:960px; height:52px; margin:0 auto; background:url(../images/bannershadow.png) no-repeat;}



#tab{ width:1080px;margin:0 auto;}
#tab .wrap{ background:url(../images/labnav-bg.png) no-repeat; height:230px; }
#tab .tab_nav ul{ margin:0 auto; width:710px; line-height:35px;}
#tab .tab_nav ul li{ float:left; color:#FFF; font-size:12px;}
#tab .tab_nav ul li a{color:#FFF; padding:0 10px; font-size:12px;}
#tab .tab_nav ul li a:hover{ color:#894f67;}
#tab .tab_content{ padding-top:18px; }
#tab .tab_content ul{ margin:0 auto;width:1014px;}
#tab .tab_content ul li{ float:left; width:151px; height:177px; padding:0 9px; cursor:pointer;}

#service{ width:1020px;margin:0 auto; padding-top:30px; padding-bottom:30px;}
#service .service_box .box{ margin:0 10px;float:left;width:306px; height:200px; padding:10px 7px; background:url(../images/service.png) no-repeat;}
#service .service_box .box .border{padding-left:15px; overflow:hidden; padding-right:16px;border:1px dashed #6a0034; width:270px; height:197px;}
#service .service_box .box h3{ font-size:18px; color:#6a0034; padding-top:10px; padding-bottom:10px;}
#service .service_box .jmdt .border ul li{ height:26px; line-height:26px; border-bottom:1px dashed #6a0034; cursor:pointer; }

#news  { height:130px; overflow:hidden;}


#service .service_box .jmdt .border ul li a{ font-size:12px;}
#service .service_box .jmdt .border ul li .left{ float:left;}
#service .service_box .jmdt .border ul li .right{ float:right;}

#service .service_box .box2 .border{}
#jdms,#hbdp{ width:276px; overflow:hidden;}

#service .service_box .box2 ul{padding-top:5px;}
#service .service_box .box2 ul li{ float:left; padding:0 3px; cursor:pointer;}

#footer{ text-align:center; background-color:#6a0034; color:#FFF; text-align:right;}
#footer .wrap{ width:1000px;margin:0 auto;  padding-top:20px; padding-bottom:15px;}
#footer .wrap p{font-size:12px; }
#footer .wrap a{ color:#FFF;font-size:12px; padding:0 9px;}
#footer .wrap a:hover{color:#894f67;}
#footer .wrap .hotline{ padding-top:15px; font-size:28px;}
#footer .wrap .hotline span{font-size:28px; font-style:italic;}
#footer .wrap .copyright{ padding-top:10px;}

#sidebar{ position:absolute; padding-top:170px; top:0; right:19px; }
#sidebar .top{ background-position:-10px -10px; width:110px; height:86px;}
#sidebar .box{ width:125px; height:243px;  background:url(../images/sidebar.png) no-repeat;padding-top:5px;}

#sidebar .box .btn{padding-top:9px; cursor:pointer;}
#sidebar .box .btn a{ display:block; width:94px; height:17px; background-image:url(../images/sidebar_btn.png); color:#981a2f; line-height:17px; text-align:center; margin:0 auto; font-size:14px;}
#sidebar .box .iconbox{ padding-top:20px; margin:0 auto;}
#sidebar .box .hotline{ background-position:-10px -410px;width:99px; height:90px;margin:0 auto;}






